/*
 * Tooltip.js styles
 */

 #tooltip {
	position:absolute;
	background:#0b80d0;
	color:#ffffff;
	padding:8px;
    z-index:999;
    font-size: medium;
}

#tooltip.alt-tooltip {
	background:#490B22;
}